<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" version="2.1">
    <persistence-unit name="PU">
        <class>com.robocubs4205.cubscout.model.District</class>
        <properties>
            <property name="javax.jdo.PersistenceManagerFactoryClass"
                      value="org.datanucleus.api.jdo.JDOPersistenceManagerFactory"/>
            <property name="javax.jdo.option.ConnectionURL" value="jdbc:h2:mem:testdb"/>
            <property name="javax.jdo.option.ConnectionDriverName" value="org.h2.Driver"/>
            <property name="javax.jdo.option.ConnectionUserName" value="sa"/>
            <!--<property name="datanucleus.generateSchema.database.mode" value="create"/>-->
        </properties>
    </persistence-unit>
</persistence>