.scout-root{
  width: 280px;
  margin:24px auto;
  padding:16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scout-root *{
  width:280px;
}
.scout-root md-select{
  height: 48px;
  margin: 8px 0;
}
.scout-root button{
  width:auto;
}
.scout-root .scout-optional-header{
  width:auto;
  align-self: flex-start;
  display:flex;
  align-items: baseline;
}
.scout-root .scout-optional-header *{
  width:auto;
}

.select-input-container .mat-input-underline{
  display:none;
}

