.scout-root button{
  width:auto;
}

.scout-root .scout-optional-header{
  width:auto;
  align-self: flex-start;
  display:flex;
  align-items: baseline;
}
.scout-root .scout-optional-header *{
  width:auto;
}

